@model IEnumerable<ProjetoInter.Models.Funcionario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/css/TelaColaborador.css">
}

@section HeaderBarras {
    <div class="Header">
        <div class="ConteudoHeader">
            <h1 class="NomePagina">Colaboradores</h1>

            <form method="get" action="/Colaborador/Buscar" class="Barrabusca">
                <input type="text" name="termo" placeholder="Pesquisar..." class="TextoPesquisa">
                <button type="submit" class="BotaoIconePesquisa" aria-label="Pesquisar">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>
            </form>    
                <div class="BotoesAcoes">
                    <button class="BotaoExcluir" type="button">Excluir</button>
                    <button class="BotaoEditar" type="button">Editar</button>
                    <button class="BotaoNovo" type="button">Novo</button>
                </div>
            
        </div>

        
    </div>
}

<div class="colaboradores-list">
    @if (Model != null && Model.Any())
    {
        foreach (var funcionario in Model)
        {
            <div class="colaborador-card">
                <div class="colaborador-foto">
                    <img src="/images/default-user.png" alt="Foto" />
                </div>

                <div class="colaborador-info">
                    <p><strong>Cargo</strong>@funcionario.Cargo</p>
                    <p><strong>Nome:</strong> @funcionario.Nome</p>
                    <p><strong>CPF:</strong> @funcionario.Cpf</p>
                    <p><strong>Telefone:</strong> @funcionario.Telefone</p>
                </div>

                <div class="colaborador-Id">
                    <label>Id:</label>
                    <input type="text" value="@funcionario.FuncionarioId" disabled />
                </div>

                <div class="colaborador-status">
                    <label>Status:</label>
                    <input type="checkbox" @(funcionario.StatusFuncionarioId == 1 ? "checked" : "") disabled />
                </div>
            </div>
        }
    }
    else
    {
        <p>Nenhum colaborador encontrado.</p>
    }
</div>
