@model IEnumerable<ProjetoInter.Models.Funcionario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="/css/TelaColaborador.css">
}

@section Scripts
{
    <script src="~/js/Modais/Modais.js"></script>
}

@section HeaderBarras {
    <div class="Header">
        <div class="ConteudoHeader">
            <h1 class="NomePagina">Colaboradores</h1>
            
                <form method="get" asp-controller="Colaborador" asp-action="Colaboradores" class="Barrabusca">
                    <input type="text" name="busca" placeholder="Pesquisar..." class="TextoPesquisa" value="@(Context.Request.Query["busca"])">
                    <button class="BotaoIconePesquisa" aria-label="Pesquisar">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            
            <div class="BotoesAcoes">
                <button class="BotaoExcluir">Excluir</button>
                <button onclick="ModalEditarNovo()" class="BotaoEditar">Editar</button>
                <button onclick="ModalNovo()" class="BotaoNovo">Novo</button>
            </div>
        </div>
    </div>
}
<section>
    
    <div class="colaboradores-list">
        @if (Model != null && Model.Any())
        {
            foreach (var funcionario in Model)
            {
                <div class="colaborador-card">
                    <div class="colaborador-foto">
                        <img src="/images/default-user.png" alt="Foto" />
                    </div>
    
                    <div class="colaborador-info">
                        <p>@funcionario.Cargo</p>
                        <div class="colaborador-descricao">
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <strong>@funcionario.Nome</strong>
                                <span>Id: @funcionario.FuncionarioId</span>
                            </div>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <span>@funcionario.Cpf |</span>
                                <span> @funcionario.Telefone</span>
                            </div>
                           
                        </div>
                    </div>
    
                    
    
                    <div class="colaborador-status">
                        <label>Status:</label>
                        <input type="checkbox" @(funcionario.StatusFuncionarioId == 1 ? "checked" : "") disabled />
                    </div>
                    
                </div>
            }
        }
        else
        {
            <p>Nenhum colaborador encontrado.</p>
        }
    </div>
</section>


<section class="area-modal-editar">
    <div class="modal-base">
        <button class="modal-close" onclick="FecharModalEditar()">
            <i class="fas fa-times"></i>
        </button>

        <h1>Editar Colaboradores</h1>

        <div class="secaoAcao">
            <label>Nome:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label>Descrição:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label for="editar-status">Status:</label>
            <select id="editar-status" name="editar-status">
                <option value="ativo">Ativo</option>
                <option value="inativo">Inativo</option>
            </select>
        </div>

        <button onclick="">Salvar Alterações</button>
    </div>
</section>

<section class="area-modal-novo">
    <div class="modal-base">
        <button class="modal-close" onclick="FecharModalNovo()">
            <i class="fas fa-times"></i>
        </button>

        <h1>Adicionar Setor</h1>

        <div class="secaoAcao">
            <label>Nome:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label>Descrição:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label for="novo-status">Status:</label>
            <select id="novo-status" name="novo-status">
                <option value="ativo">Ativo</option>
                <option value="inativo">Inativo</option>
            </select>
        </div>

        <button onclick="">Adicionar</button>
    </div>
</section>
